<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Virginia Tech Award Information System</title>

    <!-- Bootstrap -->
    <link href="bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/signin.css" rel="stylesheet"/>
    <link href="css/cover.css" rel="stylesheet"/>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  
  
  
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover solidified">
            <h1>Virginia Tech</h1>
            <h1>Award Information System</h1>
              <form class="form-signin" method="post" action="/">
                <h3 class="form-signin-heading">Please sign in</h3>
                <label for="email" class="sr-only">Email address</label>
                <input type="email" id="email" name="email" th:value="${email}" class="form-control" placeholder="Email address" required="required" autofocus="autofocus"/>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" th:value="${password}" class="form-control" placeholder="Password" required="required"/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <h3 class="form-signin-heading"><span th:text="${status}"></span></h3>
              </form>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p style="text-align:center;"><a href="http://www.vt.edu">© 2015 Virginia Polytechnic Institute and State University</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
  </body>
</html>