<h2 class="sub-header">Awards</h2>
          <div class="row">
              <div class="col-md-6">
                <div>Display <input type="number" ng-change="updateBatchCount()" ng-model="batchSize"></input> per page</div>
              </div>
              <div class="col-md-6">
                <button ng-click="addAward()" type="button" class="btn btn-primary pull-right" aria-label="Left Align">Add Award</button>                              
              </div>
          </div>
          
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Grant</th>
                  <th>Investigator</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="award in awards | orderBy:'grant.title'">
                  <td>{{ award.grant.title }}</td>
                  <td>{{ award.investigator.firstName }} {{ award.investigator.lastName }}</td>
                  <td><button ng-click="confirmDeleteAward(award)">Delete</a>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
          
            <div class="col-md-6">
              <button ng-click="firstBatch()" type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
              </button>
              <button ng-click="prevBatch()" type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
              </button>
              <button ng-click="nextBatch()" type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
              </button>
              <button ng-click="lastBatch()" type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
              </button>
            </div>
            <div class="col-md-6">    
              <span class="pull-right">Display page {{ batchIndex + 1 }} of {{ batchCount }}</span>
            </div>                    
          </div>


		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Delete Award</h4>
		      </div>
		      <div class="modal-body">
		        Are you sure you want to delete this Award?
		        <br/>
		        <br/>
		        {{ awardToDelete.grant.title }}, {{ awardToDelete.investigator.firstName }} {{ awardToDelete.investigator.lastName }} 
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		        <button ng-click="deleteAward(awardToDelete)" type="button" class="btn btn-primary">Delete</button>
		      </div>
		    </div>
		  </div>
		</div>  

