<h2 class="sub-header">Add Award</h2>
<form>
  <div class="form-group">
    <label for="grants">Grants</label>
    <select id="grants" ng-model="selectedGrant" ng-options="grant.title for grant in grants" class="form-control">
    </select>
  </div>
  <div class="form-group">
    <label for="grants">Investigators</label>
    <select ng-model="selectedInvestigators" ng-options="investigator.fullName for investigator in investigators" multiple size="10" class="form-control">
    </select>
  </div>  
  <button ng-click="addAward()" type="button" class="btn btn-default">Add</button> <button ng-click="cancelAddAward()" type="button" class="btn btn-default">Cancel</button>  
</form>