<h2 class="sub-header">Add Grant</h2>

<form>
  <div class="form-group">
    <label for="grantTitle">Title</label>
    <input type="text" ng-model="grant.title" class="form-control" id="grantTitle" placeholder="Enter Title">
  </div>  
  <div class="form-group">
    <label for="grantAgency">Agency</label>
    <input type="text" ng-model="grant.agency" class="form-control" id="grantAgency" placeholder="Enter Agency">
  </div>  
  <div class="form-group">
    <label for="grantAmount">Amount</label>
    <input type="text" ng-model="grant.amount" class="form-control" id="grantAmount" placeholder="Enter Amount">
  </div>  
  <button ng-click="addGrant()" type="button" class="btn btn-default">Add</button> <button ng-click="cancelAddGrant()" type="button" class="btn btn-default">Cancel</button>
</form>
          
