<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Grants</h3>
        <p>Grants represent money that will be awarded to investigators for winning proposals. To add, edit, or delete grants, please click below or select from the left-hand menu.</p>
        <p>
          <button ng-click="displayGrants()" type="button" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Grants
          </button>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Investigators</h3>
        <p>Investigators are faculty who can potentially be awarded a grant. To add, edit, or delete investigators, please click below or select from the left-hand menu.</p>
        <p>
          <button ng-click="displayInvestigators()" type="button" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Investigators
          </button>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Awards</h3>
        <p>Awards are created when one or more investigators receive a grant. To add or delete awards, please click below or select from the left-hand menu. Existing awards cannot be edited.</p>
        <p>
          <button ng-click="displayAwards()" type="button" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Awards
          </button>
        </p>
      </div>
    </div>
  </div>    
</div>