<h2 class="sub-header">Add Investigator</h2>

<form>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" ng-model="investigator.firstName" class="form-control" id="firstName" placeholder="Enter First Name">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" ng-model="investigator.lastName" class="form-control" id="lastName" placeholder="Enter Last Name">
  </div>
  <div class="form-group">
    <label for="department">Department</label>
    <input type="text" ng-model="investigator.department" class="form-control" id="department" placeholder="Enter Department">
  </div>  
  <button ng-click="addInvestigator()" type="button" class="btn btn-default">Add</button> <button ng-click="cancelAddInvestigator()" type="button" class="btn btn-default">Cancel</button>
</form>
          
